.calculator {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  width: 75%;
  justify-content: center;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px darkgrey;
}

.calculator div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.calculations {
  display: flex;
  height: 30px;
  align-items: center;
  width: 55%;
  box-sizing: border-box;
}

.results {
  height: 30px;
  width: 40%;
  text-align: right;
  padding: 2px;
  padding-right: 10px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid grey;
  border-radius: 2px;
}

input {
  height: 30px;
  width: 30%;
  text-align: right;
  box-sizing: border-box;
}