<h1>Angular Calculator</h1>
<form>
  <div class="calculator">
    <h2>Sum:</h2>
    <div>
      <div class="calculations">
        <input [(ngModel)]="additionA" name="additionA" pattern="^[0-9]+$" required>
        <h3>+</h3>
        <input [(ngModel)]="additionB" name="additionB" pattern="^[0-9]+$" required>
        <input type='button' value="=" (click)="doAddition(additionA, additionB)">
      </div>
      <div class="results">
        <p>{{ displaySum }}</p>
      </div>
    </div>

    <h2>Difference:</h2>
    <div>
      <div class="calculations">
        <input [(ngModel)]="subtractionA" name="subtractionA" pattern="^[0-9]+$" required>
        <h3>-</h3>
        <input [(ngModel)]="subtractionB" name="subtractionB" pattern="^[0-9]+$" required>
        <input type='button' value="=" (click)="doSubtraction(subtractionA, subtractionB)">
      </div>
      <div class="results">
        <p>{{ displayDifference }}</p>
      </div>
    </div>

    <h2>Product:</h2>
    <div>
      <div class="calculations">
        <input [(ngModel)]="multiplicationA" name="multiplicationA" pattern="^[0-9]+$" required>
        <h3>*</h3>
        <input [(ngModel)]="multiplicationB" name="multiplicationB" pattern="^[0-9]+$" required>
        <input type='button' value="=" (click)="doMultiplication(multiplicationA, multiplicationB)">
      </div>
      <div class="results">
        <p>{{ displayProduct }}</p>
      </div>
    </div>

    <h2>Quotient:</h2>
    <div>
      <div class="calculations">
        <input [(ngModel)]="divisionA" name="divisionA" pattern="^[0-9]+$" required>
        <h3>/</h3>
        <input [(ngModel)]="divisionB" name="divisionB" pattern="^[0-9]+$" required>
        <input type='button' value="=" (click)="doDivision(divisionA, divisionB)">
      </div>
      <div class="results">
        <p>{{ displayQuotient }}</p>
      </div>
    </div>
  </div>
</form>
